body{
	font-family: Arial, sans-serif;
	padding:0;
	margin:0;
	background: url(../img/back2.jpg) no-repeat center top / cover;
}

header{
background: -webkit-linear-gradient(bottom left, #EECFBA, #C5DDE8);
height: 100px;	
display: flex;
justify-content: center;
}

.containert1{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.news_blocK{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	display: flex;
	justify-content: center;
}

.containert2{
	width: 50%;
	background-color: #F5F5F5;
	padding-bottom: 30px;
}

/*==================Header==================*/
.logo{
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
}
nav{
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}


.meny li{
	float: left;
	display: block;
	margin-right: 40px;
}

.meny li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

#logotext{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
}

/*==================News block==================*/
.cards{
	display: flex;
	align-items: center;
	flex-direction:column;

}

.card{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	width: 60%;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-top: 15px;
	
}

.news_blocK_tile{
	display: flex;
	justify-content: center;
}

.news_blocK_tile h3{
 	color: grey;
}

.card-img-top{
	border-radius:5px 5px 0 0;
	width:100%;
}

.card-title{
	font-size: 20px;
	color: #212529;
	padding:10px 10px;
	margin:0;

}
.card-text{
	font-size: 16px;
	color: #212529;
	text-align: justify;
	padding:10px 10px;
	margin:0;
}

.card-text-time{
	font-size: 14px;
	padding:0 10px;
	color: #5e5e5e;
	margin-top: 0;
}

.btn-primary{
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	text-align: center;
	vertical-align: center;
	height: 32px;
	border-radius:5px;
	text-decoration: none;
	font-size: 16px;
}

/*==================Footer==================*/
footer{
	display: flex;
	justify-content: center;
	height: 70px;
}

.containert3{
	width: 50%;
	background-color: white;
}

.containert3 hr{
	padding: 0;
	margin:0;
}

.containert3 nav ul li a{
	color: lightgrey;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

.containert3 nav{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
/*=======================About Us=======================*/

.aboutauthor{
	display: flex;
	justify-content: center;
}

.aboutauthor img{
	width: 50%;
	padding: 0;
	margin: 0;
}

.maincontent{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	display: flex;
	padding:10px;
	margin: 0;
}

.maincontent p{
	width: 100%;
	margin:0px;
	padding-left: 10px;
	font-size: 16px;
	color: #212529;
	text-align: justify;
}

/*=======================ArticlePage=======================*/

.mainarticle{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	display: flex;
	justify-content: center;
}

.mainarticle .containert2{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.mainarticle img{
	width: 100%;
}

.mainarticle .card-text p{
	margin:0 0 10px 0;
}